@page "/Staff/EditStaff/{Id}"
@using WeatherForecastUI.Model
@inject WeatherForecastUI.Services.UserService userService
@inject WeatherForecastUI.Services.GlobalSettings.GlobalSettingsService globalSettingsService
@inject WeatherForecastUI.Services.API.APIGateway APIGateway
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

@inject IJSRuntime JsRuntime
@using System.Text.Json
@using System.Text

<h3>Edit Staff</h3>

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="for-group">
                <label for="Id" class="control-label">Id</label>
                <input form="Id" class="form-control" @bind="obj.Id" readonly="true"></input>
            </div><br />
            <div class="for-group">
                <label for="Username" class="control-label">Username</label>
                <input form="Username" class="form-control" @bind="obj.Username"></input>
            </div><br />
            <div class="for-group">
                <label for="Email" class="control-label">Email</label>
                <input form="Email" class="form-control" @bind="obj.Email"></input>
            </div><br/>
            <div class="for-group">
                <label for="PhoneNumber" class="control-label">Phone Number</label>
                <input form="PhoneNumber" class="form-control" @bind="obj.PhoneNumber"></input>
            </div><br />
            <div class="for-group">
                <label for="Skillsets" class="control-label">Skillsets</label>
                <input form="Skillsets" class="form-control" @bind="obj.Skillsets"></input>
            </div><br />
            <div class="for-group">
                <label for="Hobby" class="control-label">Hobby</label>
                <input form="Hobby" class="form-control" @bind="obj.Hobby"></input>
            </div><br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @if (globalSettingsService.IsUsingExternalAPI == false)
                {
                    <input type="button" style="margin-right: 10px;" class="btn btn-success" @onclick="@UpdateStaffInternalServices" value="Update Staff" />
                }
                else
                {
                    <input type="button" style="margin-right: 10px;" class="btn btn-success" @onclick="@EditStaffExternalAPI" value="Update Staff" />
                }
                <input type="button" class="btn btn-warning" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }

    User obj = new User();

    protected override async Task OnInitializedAsync()
    {
        @if (globalSettingsService.IsUsingExternalAPI == false)
        {
            obj = await Task.Run(() => userService.GetUserById(Convert.ToInt32(Id)));
        }
        else
        {
            string jsonData = await APIGateway.GetStaffbyId(Convert.ToInt32(Id));
            obj = JsonSerializer.Deserialize<User>(jsonData);
        }
    }

    // CRUD using internal services
    protected async void UpdateStaffInternalServices()
    {
        await userService.UpdateUserDetails(obj);
        NavigationManager.NavigateTo("Staff/staffList");
    }

    //CRUD using request to external API
    protected void EditStaffExternalAPI()
    {
        var formData = new MultipartFormDataContent();
        formData.Add(new StringContent(obj.Id.ToString()), "Id");
        formData.Add(new StringContent(obj.Username), "Username");
        formData.Add(new StringContent(obj.Email), "Email");
        formData.Add(new StringContent(obj.PhoneNumber), "PhoneNumber");
        formData.Add(new StringContent(obj.Skillsets), "Skillsets");
        formData.Add(new StringContent(obj.Hobby), "Hobby");

        try
        {
            APIGateway.EditStaff(formData);
        }
        catch (HttpRequestException ex)
        {
            // Handle any HTTP request exceptions
            Console.WriteLine($"Error occurred: {ex.Message}");
        }
        catch (IOException ex)
        {
            // Handle any IO exceptions
            Console.WriteLine($"Error occurred while reading stream: {ex.Message}");
        }

        NavigationManager.NavigateTo("Staff/staffList");
    }

    protected async void Cancel()
    {
        NavigationManager.NavigateTo("Staff/staffList");
    }
}
